<h1>About Sakebu</h1>
<p>Sakebu is a simple, secure, open source manager for digital dictation files. It can handle most common sound file formats and is designed to handle the metadata attached to these files.</p>
